.services {
    grid-area: services;
    padding-bottom: 8rem;
    h3.heading--3 {
        padding: 4rem 0;
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(3, minmax(300px, 1fr));
        grid-template-areas:
        "article-1 article-2 article-3";
        grid-column-gap: 4rem;
        grid-template-rows: min-content;

        section.article--1,
        section.article--2,
        section.article--3 {
            background-color: #ECEFF1;
            padding: 15px;
            box-shadow: $shadow-box;
            p {
                margin-top: 15px;
                color: #6e6e6e; // test color
                font-size: 1.7rem;
                letter-spacing: 0.155rem;
            }
        }
        .article--1 {
            grid-area: article-1;
            background-color: $color-article-bg !important;
        }
        .article--2 {
            grid-area: article-2;
        }
        .article--3 {
            grid-area: article-3;
        }
        .article-heading {
            text-transform: uppercase;
            font-weight: 600;
            color: $color-dark;
            font-size: 2rem;
        }
    }
}